<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h4>Students</h4>
        <a class="btn btn-outline-success" href="/admin/students/add">Add Student</a>
    </div>
    {{#if this.empty}}
      <div class="card-body">
        <h4 class="card-text">Khong co du lieu</h4>
      </div>
    {{else}}
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Ma hoc sinh</th>
        <th scope="col">Ho va ten</th>
        <th scope="col">Lop</th>
        <th scope="col">Gioi tinh</th>
        <th scope="col">Ngay sinh</th>
        <th scope="col">Dia chi</th>
        <th scope="col">Email</th>
        <th scope="col">Ma tai khoan</th>
        <th scope="col">&NonBreakingSpace;</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.students}}
      <tr>
        <th scope="row">{{MaHS}}</th>
        <td>{{HoTen}}</td>
        <td>{{Lop}}</td>
        <td>{{GioiTinh}}</td>
        <td>{{NgaySinh}}</td>
        <td>{{DiaChi}}</td>
        <td>{{Email}}</td>
        <td>{{MaTK}}</td>

        <td class="text-right">
          <a class="btn btn-primary btn-sm" href="/admin/students/edit?id={{MaHS}}" role="button" title="Edit">
              <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
          {{!-- <a class="btn btn-danger btn-sm" href="javascript:;" role="button">
              <i class="fa fa-trash" aria-hidden="true"></i>
          </a> --}}
        </td>
      </tr>

      {{/each}}
    </tbody>
    </table>
    {{/if}}
    <div class="card-footer text-muted">
        Footer
    </div>
</div>